[SddmGreeterTheme]
Name=Fenestra
Description=Windows 11 style login screen for SDDM (Fenestra series, Wayland)
Author=naykkalak
License=GPL-3.0
Type=sddm-theme
Version=1.0
Website=https://github.com/naykkalak/fenestra-sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=fenestra-sddm
Theme-API=2.0
QtVersion=6
